/* Header light text with dark background */
$headerDarkText: false;
$headerSmallScreenText: $white;
$headerSmallScreenBackground: $black;
$headerLargeScreenText: $white;
$headerLargeScreenBackground: $black;
$headerDropdownLargeScreenBackground: $black;
