<div id="CookieBanner" class="cookie-banner drawer drawer-bottom"
    data-days="{{ settings.cookie_banner_cookiedays }}" >
    <div class="cookie-caption">{{ settings.cookie_banner_text }}</div>
    <div class="cookie-actions">
        <button type="button" name="button" class="cta-2-dark small-cta accept">{{ 'general.GDPR.cookie_accept' | t }}</button>
        <button type="button" name="button" class="cta-outline small-cta close">{{ 'general.GDPR.cookie_close' | t }}</button>
    </div>
</div>