{% comment %}
  Style Guide Content Here
{% endcomment %}

<div class="style-guide layout-column-2">
    <div class="column style-dark">
        <section class="section-fonts">
            <h4 class="title">Fonts</h4>
            <div class="section-content">
                <p class="base-font-1" data-info=".base-font-1">Montserrat - Semi Bold</p>
                <p class="base-font-3" data-info=".base-font-3">Montserrat - Medium</p>
                <p class="base-font-4" data-info=".base-font-4">Montserrat - Medium Italic</p>
                <p class="base-font-5" data-info=".base-font-5">Montserrat - Regular</p>
                <p class="base-font-2" data-info=".base-font-2">Montserrat - Italic</p>
                <p class="base-font-6" data-info=".base-font-6">Druk Wide</p>
            </div>
        </section>
        <section class="section-typography">
            <h4 class="title">Typography</h4>
            <div class="section-content">
                <h1 class="title-font-1" data-info=".title-font-1">H1 Title Heading</h1>
                <h2 class="title-font-2" data-info=".title-font-2">H2 Subheading</h2>
                <h2 class="title-font-3" data-info=".title-font-3">H2 Subheading Italic</h2>
                <h3 class="title-font-4" data-info=".title-font-4">H3 Small Title</h3>
                <a href="#" class="cta-font-1" data-info=".cta-font-1">Eyebrow CTA</a>
                <a href="#" class="cta-font-2" data-info=".cta-font-2">Nav link CTA</a>
                <p class="body-font-1" data-info=".body-font-1">Body Copy</p>
                <p class="body-font-2" data-info=".body-font-2">Body Copy Italic</p>
                <p class="body-font-2" data-info=".body-font-2">Small Body Copy Utility Text</p>
                <p class="body-font-subdued" data-info=".body-font-subdued">Body Copy Subdued</p>
                <p class="label-font" data-info=".label-font">Label</p>
            </div>
        </section>
        <section class="section-cta">
            <h4 class="title">CTA</h4>
            <div class="section-content">
                <a href="#" class="cta-link-1" data-info=".cta-link-1">Learn More</a>
                <a href="#" class="cta-link-1" data-info=".cta-link-1 with <span>">
                    <span>Learn More</span>
                </a>

                <button type="button" name="button" class="cta-1" data-info=".cta-1">add to bag</button>
                <button type="button" name="button" class="cta-1" data-info=".cta-1 with <span>">
                    <span>add to bag!</span>
                </button>
                <button type="button" name="button" class="cta-1 disabled" data-info=".cta-1 disabled">Out of stock</button>

                <button type="button" name="button" class="cta-2" data-info=".cta-2">add to bag</button>
                <button type="button" name="button" class="cta-2" data-info=".cta-2 with <span>">
                    <span>add to bag!</span>
                </button>
                <button type="button" name="button" class="cta-2 disabled" data-info=".cta-2 disabled">Out of stock</button>

                <button type="button" name="button" class="cta-3-dark" data-info=".cta-3-dark">add to bag</button>
                <button type="button" name="button" class="cta-3-dark" data-info=".cta-3-dark with <span>">
                    <span>add to bag!</span>
                </button>
                <button type="button" name="button" class="cta-3-dark disabled" data-info=".cta-3-dark disabled">Out of stock</button>
            </div>
        </section>
        <section class="section-form">
            <h4 class="title">Form & Inputs</h4>
            <div class="section-content">
                <form class="form data-form">
                    <div class="fieldset">
                        <div class="field">
                            <div class="input-wrapper">
                                <input id="input-1" type="text" name="" value="" placeholder="First Name"/>
                                <label for="input-1">First Name</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-wrapper select">
                                <label for="input-2">Sort By</label>
                                <select id="input-2" class="" name="">
                                    <option value="" selected>Sort By</option>
                                    <option value="1">List Item 1</option>
                                    <option value="2">List Item 2</option>
                                    <option value="3">List Item 3</option>
                                    <option value="4">List Item 4</option>
                                    <option value="5">List Item 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="column style-light">
        <section class="section-colors style-dark">
            <h4 class="title">Color</h4>
            <div class="section-content">
                <div class="color-block black" data-info="Color name: $black #00000"></div>
                <div class="color-block white" data-info="Color name: $white #ffffff"></div>
                <div class="color-block lightGrey2" data-info="Color name: $lightGrey2 #9C9392"></div>
                <div class="color-block darkGrey" data-info="Color name: $mediumGrey2 #3A3231"></div>
                <div class="color-block lightGrey" data-info="Color name: $lightGrey #F2EEED"></div>
                <div class="color-block red" data-info="Color name: $primary #AD311B"></div>
            </div>
        </section>
        <section class="section-typography">
            <h4 class="title">Typography</h4>
            <div class="section-content">
                <h1 class="title-font-1" data-info=".title-font-1">H1 Title Heading</h1>
                <h2 class="title-font-2" data-info=".title-font-2">H2 Subheading</h2>
                <h2 class="title-font-3" data-info=".title-font-3">H2 Subheading Italic</h2>
                <h3 class="title-font-4" data-info=".title-font-4">H3 Small Title</h3>
                <a href="#" class="cta-font-1" data-info=".cta-font-1">Eyebrow CTA</a>
                <a href="#" class="cta-font-2" data-info=".cta-font-2">Nav link CTA</a>
                <p class="body-font-1" data-info=".body-font-1">Body Copy</p>
                <p class="body-font-2" data-info=".body-font-2">Body Copy Italic</p>
                <p class="body-font-2" data-info=".body-font-2">Small Body Copy Utility Text</p>
                <p class="label-font" data-info=".label-font">Label</p>
            </div>
        </section>
        <section class="section-cta">
            <h4 class="title">CTA</h4>
            <div class="section-content">
                <a href="#" class="cta-link-1" data-info=".cta-link-1">Learn More</a>
                <a href="#" class="cta-link-1" data-info=".cta-link-1 with <span>">
                    <span>Learn More</span>
                </a>

                <button type="button" name="button" class="cta-1" data-info=".cta-1">add to bag</button>
                <button type="button" name="button" class="cta-1" data-info=".cta-1 with <span>">
                    <span>add to bag!</span>
                </button>
                <button type="button" name="button" class="cta-1 disabled" data-info=".cta-1 disabled">Out of stock</button>

                <button type="button" name="button" class="cta-2-light" data-info=".cta-2-light">add to bag</button>
                <button type="button" name="button" class="cta-2-light" data-info=".cta-2-light with <span>">
                    <span>add to bag!</span>
                </button>
                <button type="button" name="button" class="cta-2-light disabled" data-info=".cta-2-light disabled">Out of stock</button>

                <button type="button" name="button" class="cta-3" data-info=".cta-3">add to bag</button>
                <button type="button" name="button" class="cta-3" data-info=".cta-3 with <span>">
                    <span>add to bag!</span>
                </button>
                <button type="button" name="button" class="cta-3 disabled" data-info=".cta-3 disabled">Out of stock</button>
            </div>
        </section>
        <section class="section-form">
            <h4 class="title">Form & Inputs</h4>
            <div class="section-content">
                <form class="form data-form">
                    <div class="fieldset">
                        <div class="field">
                            <div class="input-wrapper">
                                <input id="input-1" type="text" name="" value="" placeholder="First Name"/>
                                <label for="input-1">First Name</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-wrapper select">
                                <label for="input-2">Sort By</label>
                                <select id="input-2" class="" name="">
                                    <option value="" selected>Sort By</option>
                                    <option value="1">List Item 1</option>
                                    <option value="2">List Item 2</option>
                                    <option value="3">List Item 3</option>
                                    <option value="4">List Item 4</option>
                                    <option value="5">List Item 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
