<div class="landing-page page-size-guide">
    <div class="module module-heading">
        <div class="module-intro">
            <div class="headlines-wrap">
                <h1 class="headline">
                    {{page.title}}
                </h1>
                <div class="caption">{{page.content}}</div>
            </div>
        </div>
    </div>
    <div class="module module-size-chart utility-content">
    {% section 'size-chart' %}
    </div>
</div>