<div id="SizeChartModal" class="modal drawer drawer-modal drawer-top size-chart" role="dialog">
	<button type="button" class="drawer-close"><span class="visually-hidden">Close drawer</span></button>
	<div class="module module-heading">
        <div class="module-intro">
            <div class="headlines-wrap">
                <div class="headline">
                    Size Guide
                </div>
            </div>
        </div>
    </div>
	{% comment %} {% section 'size-chart' %} {% endcomment %}
</div>