//
//  Typography
//  _____________________________________________
body.template-password {
    .title {
        @extend .title-font-1;
    }
}
body.page-challenge {
    .shopify-challenge__message {
        // @extend .title-font-2;
    }
    .shopify-challenge__button {
        @include cta-1;
    }
}

//
//  Common
//  _____________________________________________
body.template-password {
    background-color: $black;
    header.password-header {
        text-align: center;
        display: none;
    }
    main#MainContent {
        margin: 0 auto;
        background-color: $black;
    }

    .module {
        min-height: 100vh;
        position: relative;
        &.image-module {
            color: $white;

            span.absolute-image {
                &:before {
                    content: '';
                    background: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }

            .lines-overlay {
                position: absolute;
                left: 20px;
                right: 20px;
                top: 20px;
                bottom: 20px;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0.6;
            }

            .block-container {
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 80px 40px;
                // flex-direction: column;
                // justify-content: center;
                align-items: center;
                // align-content: center;
                .brand-logo {
                    color: $black;
                    width: 100%;
                    flex: 0 0 auto;
                    margin-bottom: 40px;
                    line-height: 1;
                    @extend .animated, .fadeInDown;
                    @include animation-duration($fast);
                    &:before {
                        display: inline-block;
                        @include icon-fonts($icon-logo, inherit, 70px);
                    }
                }
            }

            .subheadline {
                // @extend .body-font-2;
                line-height: 22px;
                margin-bottom: $smallScreenMargin/2;
            }
            .headline {
                // @extend .base-font-7;
                font-size: 100px;
                line-height: 86px;
                text-transform: uppercase;
                @extend .animated, .fadeInUp;
                @include animation-duration($slow);
            }
            .social-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $largeScreenMargin;
                line-height: 1;
                margin: 0 -10px;
                width: auto;
                padding: $smallScreenMargin 0;
                .social-heading {
                    padding-right: 0;
                    display: none;
                }
                [class^='social-'] {
                    padding: 15px;
                    margin: 0 5px;
                    width: 50px;
                    height: 50px;
                    background: $black;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .forms-container {
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        height: 30px;
        width: 60px;
        overflow: hidden;
        cursor: pointer;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 2;
        @include transition(all $fast);
        .customer-subscription {
            display: none;
        }
        .customer-login {
            opacity: 0;
            background-color: white;
            padding: 20px;
            margin: 0;
            @include transition(all $fast);
            @include transform(translateY(20px));
        }
        .fieldset {
            .field {
                // background: $lightGrey2;
            }
        }
        & > div {
            margin-bottom: 30px;
        }
        h4 {
            margin-bottom: 5px;
        }
        &:focus,
        &:hover {
            width: auto;
            height: auto;
            opacity: 1;
            .customer-login {
                opacity: 1;
                @include transform(translateY(0px));
            }
        }
    }
}

body.page-challenge {
    #MainContent {
        background: $lightGrey2;
        min-height: 100vh;
        @include flexcenter;
    }
    .shopify-challenge__container {
        padding: 40px;
        background: $white;
    }
}

//
//  Small + Medium screen sizes - Prev: Tablet and Mobile
//  _____________________________________________
@include query-medium-down {
    body.template-password {
        header.password-header {
            background: $headerSmallScreenBackground;
            h1,
            .h1 {
                height: $headerSmallScreenHeight;
                .site-logo {
                }
            }
        }
        .module {
            &.image-module {
                .lines-overlay {
                    &.desktop-image {
                        display: none;
                        background-color: none !important;
                    }
                }
                .block-container {
                    justify-content: space-between;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .headline {
                        margin-bottom: 100px;
                    }
                }
            }
        }
    }
}

//
//  Large screen sizes - Prev: Desktop
//  _____________________________________________
@include query-large-up {
    body.template-password {
        header.password-header {
            background: $headerLargeScreenBackground;
            h1,
            .h1 {
                height: $headerLargeScreenHeight;
                .site-logo {
                }
            }
        }

        .module {
            &.image-module {
                .lines-overlay {
                    left: 60px;
                    right: 60px;
                    top: 60px;
                    bottom: 60px;
                    &.mobile-image {
                        display: none;
                        background-color: none !important;
                    }
                }
                .block-container {
                    position: relative;
                    width: 100%;
                    padding: 110px;
                    align-items: flex-end;
                    .brand-logo {
                        width: 100%;
                    }
                    .inner-wrapper {
                        width: 60%;
                    }
                    .social-wrapper {
                        width: 40%;
                    }
                }
                .headline {
                    font-size: 219px;
                    line-height: 186px;
                }
                .social-wrapper {
                    [class^='social-'] {
                        width: 70px;
                        height: 70px;
                        margin: 0 15px;
                        flex: 0 0 auto;
                        font-size: 25px;
                    }
                }
            }
        }
    } //body.template-password
} ;
